<nav class="navbar navbar-dark bg-dark mb-5 fixed-top">
    <a class="navbar-brand" href="#" routerLink="/home">{{ app.name }}</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="nav-item nav-link" href="#" routerLink="/about" routerLinkActive="active">About</a>
            <a class="nav-item nav-link" href="#" routerLink="/basic" routerLinkActive="active">Basic</a>
            <a class="nav-item nav-link" href="#" routerLink="/advanced" routerLinkActive="active">Advanced</a>
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="https://github.com/J-Graham/code-camp-dynamic-forms" target="_blank">
                <i class="fa fa-github"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/PilgrimSecret" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="nav-item nav-link" href="https://twitter.com/JohnGrahamDev" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</nav>